.container{
    background-color: black;
    color: whitesmoke;
    display: flex;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: smaller;
    align-items: center;
}

.box{
    margin-left: 50px;
  
}

.box_1{
    margin-left: 1100px;
    font-size: large;
}